<h1>Perfis</h1>

<form [formGroup]="form" class="form">
  <mat-form-field class="form-full-width" appearance="fill">
    <mat-label>Nome</mat-label>
    <input matInput placeholder="Ex. Administrador" formControlName="nome" required>
  </mat-form-field>
</form>

<ng-container *ngIf="!ehEdicao">
  <button mat-raised-button color="primary" [disabled]="desativarBotaoSalvar" (click)="adicionarPerfil()">Adicionar</button>
</ng-container>
<ng-container *ngIf="ehEdicao">
  <button mat-raised-button color="primary" class="editar" [disabled]="desativarBotaoSalvar" (click)="alterarPerfil()">Confirmar Edição</button>
  <button mat-raised-button color="warn" (click)="cancelar()">Cancelar Edição</button>
</ng-container>

<table mat-table [dataSource]="listaPerfis" class="perfis-table mat-elevation-z1">

  <ng-container matColumnDef="nome">
    <th mat-header-cell *matHeaderCellDef> Nome </th>
    <td mat-cell *matCellDef="let perfil">{{ perfil.nome }}</td>
  </ng-container>

  <ng-container matColumnDef="acoes">
    <th mat-header-cell *matHeaderCellDef> Ações </th>
    <td mat-cell *matCellDef="let perfil">
      <button mat-raised-button color="basic" class="editar" [disabled]="ehEdicao" (click)="editarPerfil(perfil)">Editar</button>
      <button mat-raised-button color="warn" [disabled]="ehEdicao" (click)="apagarPerfil(perfil.idPerfil)">Apagar</button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
